
.chat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F8;
    margin: 2px 0;
}

.chat-card .chat-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 30px;
    padding: 10px 20px;
}

.chat-card .chat-content h3, p {
    margin: 0;
    font-weight: 500;
}

.chat-card .chat-content p {
    color: #808080;
}

.chat-card .msg-counter {
    background-color: dodgerblue;
    color: white;
    height: 20px;
    width: 20px;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}