

.chat-container {
    height: 100%;
    display: flex;
    z-index: 2;
    position: relative;
}

.chat {
    width: 100%;
}

.chat-info {
    padding: 5px 0;
    text-align: left;
    text-indent: 40px;
    border-bottom: 1px solid #C0C0C0;
}

.chat-info h3 {
    font-weight: 500;
}

.chat-history {
    max-height: 60vh;
}

.chat-controls {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: teal; */
}

.chat-controls button {
    background-color: dodgerblue;
    color: white;
    border: none;
}

.chat-controls input {
    padding: 10px 20px;
    width: 90%;
}

.chat-controls button {
    padding: 10px 20px;
    margin-left: 20px;
}

.msg-container {
    width: 100%;
    display: flex;
}

.messages {
    overflow-y: scroll;
    max-height: 60vh;
    padding: 0 30px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.message {
    padding: 0 15px;
    margin: 10px;
    max-width: max-content;
    display: flex;
    width: 100%;
}

.received {
    background-color: #DCE8FF;
    border-radius: 0 10px 10px 10px;
}

.sent {
    flex-direction: row-reverse;
    background-color: #4399FF;
    border-radius: 10px 0 10px 10px;
    color: #fff;
}

