
.search-bar {
    /* background-color: orange; */
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-wrapper {
    position: relative;
    width: 50%;
}

.search-bar .search-wrapper .search-box {
    padding: 10px 0;
    text-indent: 40px;
    width: 100%;
    border-radius: 10px;
    background-color: 	#F5F5F5;
    color: #909090;
    border: 1px solid #909090; 
}

.search-bar .search-wrapper .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #909090;
}

.user-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-dropdown-wrapper {
    width: 50%;
    background-color: #fff;
    padding: 10px 0;
    z-index: 10;
    position: absolute;
    top: 140px;
    border: 1px solid grey;
    height: auto;
}

.searched-user {
    /* border: 1px solid grey; */
    margin: 5px 0;
    text-align: left;
    padding: 5px 20px;
    background-color: 	#F5F5F5;
}

.searched-user:hover {
    background-color: #F8F8F8;
}

.searched-user p, h3 {
    margin: 5px;
}

@media only screen and (max-width: 600px) {
    .search-wrapper {
        width: 80%;
    }

    .user-dropdown-wrapper {
        width: 80%;
    }
}
